body{
	background-color: #E3E3E3;
	font-family: calibri;
	box-sizing: border-box;
}

header{
	text-align: center;
	border-bottom: solid 2px;
	border-color: #E3E3E3;
	height: 30vh;
	line-height: 6vh;


}

.row{
	clear: both;
	
}



@media(min-width: 481px){
	.col-md-1{
		width: 10%;
	}

	.col-md-2{
		width: 20%;
	}

	.col-md-3{
		width: 30%;
	}

	.col-md-4{
		width: 40%;
	}

	.col-md-5{
		width: 50%;
	}

	.col-md-6{
		width: 60%;
	}


	.col-md-7{
		width: 70%;
	}

	.col-md-8{
		width: 80%;
	}

	.col-md-9{
		width: 90%;
	}

	.col-md-10{
		width: 100%;
	}

}

@media(max-width: 480px){
	.col-sm-1{
		width: 10%;
	}

	.col-sm-2{
		width: 20%;
	}

	.col-sm-3{
		width: 30%;
	}

	.col-sm-4{
		width: 40%;
	}

	.col-sm-5{
		width: 50%;
	}

	.col-sm-6{
		width: 60%;
	}


	.col-sm-7{
		width: 70%;
	}

	.col-sm-8{
		width: 80%;
	}

	.col-sm-9{
		width: 90%;
	}

	.col-sm-10{
		width: 100%;
	}

}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, 
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, 
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10{
	float: left;
}

.viewport{
	background-color: white;
	width: 80%;
	position: absolute;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 10vh;

}

.orange-bar{
	background-color: #ED3E33;
	height: 3.5vh;
	padding: 1px;
	margin: 1vh;
	color: white; 
}

.p-educacion{
	background-color: #DDDDDD;
}

h3{
	color: #ED3E33;
}

.hobbies{
	float: left;
	background-color: #9E3C54;
	color: white;
	margin-left: 8%;
	height: 5vh;
	width: 25%;
	text-align: center;
}


.footer {
	border-color: #E3E3E3;
	border-top: 1px solid;
	text-align: right;
	margin-top: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
}














